<% @page_title = @partner.name %>

<div class="container mt-5">
  <div class="row">
    <div class="col-11 col-md-6 mx-auto">
    
        <div class="row">
            <div class="col-6 mb-3 mt-3">
                <% if @partner.image.attached? %>
                    <%= image_tag @partner.image, class: "custom-show-img", alt: @partner.name %>
                <% else %>
                    <%= image_tag 'noimage.png', class: "custom-show-img", alt: "default_image" %>
                <% end %>
            </div>
            <div class="col-6 mb-3 custom-show-text">
                <div class="mb-3 mt-3">
                    <h4 style="display: inline;"><%= @partner.name %></h4>
                    <% if current_user && current_user.id == @partner.owner_id %>
                        <%= link_to edit_partner_path(@partner),id: 'edit_partner', class: 'link-custom', style: "display: inline; margin-left: 8px;" do %>
                            <i class="fa-solid fa-pen"></i>
                        <% end %>
                        <%= link_to partner_path(@partner),id: 'delete_partner', class: 'link-custom', data: {turbo_method: :delete, turbo_confirm: 'このページを削除しますか？'},style: "display: inline; margin-left: 4px;" do %>
                            <i class="fa-solid fa-trash"></i>
                        <% end %>
                    <% end %>
                </div>

                <p><%= @partner.animal_type %>
                <% if @partner.breed.present? %>・<% end %>
                <%= @partner.breed %></p>
                <p>性別：<%= @partner.gender_in_japanese %></p>
                <% if @partner.age.present? %>
                    <p>年齢：<%= @partner.age %>歳</p>
                <% end %>
                <% if @partner.weight.present? %>
                    <p>体重：<%= @partner.weight %></p>
                <% end %>
            </div> 
        </div>

        <!-- ごはん -->
        <%= render 'foods/food_index', partner: @partner, foods: @foods, remainders: @food_remainders %>
        <!-- さんぽ -->
        <%= render 'walks/walk', partner: @partner, walk: @walk, remainders: @walk_remainders, pet_walks: generate_walk_array(@walk, @walk_remainders) %>
        <!-- おくすり -->
        <%= render 'medications/medication_index', partner: @partner, medications: @medications, remainders: @medication_remainders %>            

        
        <% if current_user && current_user.id == @partner.owner_id %>
            <%= render "sharemessage_one", partner: @partner %>
        <% end %>
            <%= render "unshare_partner_modal", partner: @partner, shared_users: @shared_users %>
    </div>
  </div>  
</div>