<% @page_title = "新規登録" %>

<div class="container mt-5">
  <div class="row">
    <div class="col-11 col-md-8 mx-auto">
      <div class="border col-12 rounded">

        <%= render 'shared/error_messages', object: @user %>

        <div class="col-10 mt-3 mb-3 mx-auto">
          <%= form_with model: @user, local: true do |f| %>
            <div class="mb-3">
            <%= f.label :name, "ユーザー名", class: "form-label" %>
            <%= f.text_field :name, class: "form-control" %>
            </div>
  
            <div class="mb-3">
            <%= f.label :email, "メールアドレス", class: "form-label" %>
            <%= f.email_field :email, class: "form-control" %>
            </div>
  
            <div class="mb-3">
            <%= f.label :password, "パスワード", class: "form-label" %>
            <%= f.password_field :password, class: "form-control" %>
            </div>
  
            <div class="mb-5">
            <%= f.label :password_confirmation, "パスワード確認", class: "form-label" %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
            </div>

            <div class="mb-5">
            <%= f.submit '登録', class: 'btn btn-custom w-100' %>
            </div>

          </div>
        </div>
        <p>
          登録により<%= link_to 'プライバシーポリシー', privacy_policy_settings_path, class: 'link-custom' %> および
          <%= link_to '利用規約', terms_of_use_settings_path, class: 'link-custom' %> に同意したものとします。
        </p>
      </div>
      

  <% end %>
  </div>
  </div>
</div>
