<!-- partnerIdをJavaScriptに渡すためのデータ属性を設定 -->
<%= content_tag :div, "", id: "app-data", data: { partner_id: @partner.id } %>


<% @page_title = "#{@partner.name} のごはん" %>

<div class="container mt-5">
  <div class="row">
    <div class="col-11 col-md-6 mx-auto">
        <h4>ごはん情報</h4>
        <p>一番下の編集ボタンを押すと内容が確定します。</p>

          <%= form_with model: [@partner, @food], url: partner_food_path(@partner, @food), local: true do |f| %>
            <div class="mb-3">
            <%= f.label :manufacturer, "メーカー", class: "form-label" %>
            <%= f.text_field :manufacturer, class: "form-control" %>
            </div>

            <div class="mb-3">
            <%= f.label :category, "さらに詳しい区分", class: "form-label" %>
            <%= f.text_field :category, class: "form-control", placeholder: '例：子猫用、成犬用など' %>
            </div>
  
            <div class="mb-3">
            <%= f.label :amount, "ごはんの量", class: "form-label" %>
            <%= f.text_field :amount, class: "form-control", placeholder: '例：10g、スプーン2杯など' %>
            </div>

              <div id="existing_food_remainder_fields">
                <% @food.remainders.each_with_index  do |remainder, index| %>
                  <%= f.fields_for :remainders, remainder do |r| %>
                    <%= render partial: "time_food", locals: { f: r, partner_id: @partner.id, index: index + 1 } %>
                  <% end %>
                <% end %>
              </div>
            

              <!-- 空のフィールドテンプレート -->
              <div id="food_remainder_template" style="display: none;">
                <%= f.fields_for :remainders, @food.remainders.build do |r| %>
                <%= render partial: "add_time_food", locals: { f: r } %>
                <% end %>
              </div>

              <!-- 追加用の空のフォームスペース -->
              <div id="new_food_remainder_fields"></div>


            <div class="mb-3">
            <%= link_to ">> ごはんの時間追加", "#", class: "link-custom", onclick: "addRemainderFields('food'); return false;" %>
            </div>
  
            <div class="mb-1">
            <%= f.label :place, "置き場所", class: "form-label" %>
            <%= f.text_field :place, class: "form-control" %>
            </div>

            <div class="mb-1">
            <%= f.label :image, "∟画像で保存", class: "form-label" %>
            <%= f.file_field :image %>
            </div>

            <!-- プレビュー -->
            <% if @food.image.attached? %>
            <div class="row g-1"> 
              <div class="mb-3 col-2 position-relative" id="image-food">
                <%= image_tag @food.image, class: "custom-show-img  img-thumbnail", alt: "ごはんの置き場所" %>

                    <!-- 削除ボタン -->
                    <%= link_to "", remove_image_partner_food_path(@partner, @food),
                      method: :delete,
                      data: { confirm: "この画像を削除しますか？", remote: true },
                      class: "btn-close position-absolute",
                      style: "top: 0; right: 0; color: red; text-decoration: none; font-size: 1.5em;" %>
              </div>
            </div>
            <% end %>
  
            <div class="mb-3">
            <%= f.label :note, "メモ", class: "form-label" %>
            <%= f.text_area :note, class: "form-control", placeholder: '自由記入' %>
            </div>

            <div class="mb-5 text-end">
            <%= f.submit '編集', class: 'btn btn-dark' %>
            </div>
          <% end %>

    </div>
  </div>
</div>
