<div class="container">
  <div class="row">
    <div class="col-11 col-md-8 mx-auto">
    
      <h1 class="my-4 text-center" style="color: #444444; font-family: Arial, sans-serif;">ペット手帳</h1>

      <div class="row">
      <div class="border col-12 rounded mb-5">
        <div class="row">
        <div class="col-10 mt-3 mb-3 mx-auto">
          <%= form_with url: login_path, local: true do |form| %>
            <div class="mb-3">
              <%= form.label :email, 'メールアドレス', class: 'form-label' %>
              <%= form.email_field :email, class: 'form-control', id: 'email', placeholder: 'メールアドレスを入力' %>
            </div>
            
            <div class="mb-2">
              <%= form.label :password, 'パスワード', class: 'form-label' %>
              <%= form.password_field :password, class: 'form-control', id: 'password', placeholder: 'パスワードを入力' %>
            </div>

            <div class="form-check mb-4">
              <%= form.check_box :remember_me, class: 'form-check-input', id: 'remember_me' %>
              <%= form.label :remember_me, 'ログイン状態を保持する', class: 'form-check-label' %>
            </div>
            
            <div class="mb-3">
              <%= form.submit 'ログイン', class: 'btn btn-custom w-100' %>
            </div>
          <% end %>
            
            <div class="mb-5">
              <%= link_to '新規登録', new_user_path, class: 'link-custom' %>
              <%= link_to 'パスワードを忘れましたか？', new_password_reset_path, class: 'link-custom' %>
            </div>
        </div>
        </div>
      </div>

      <% if Rails.env.development? %>
              <div style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
                <%= link_to '<i class="fa-brands fa-google"></i> Googleアカウントでログイン'.html_safe, '/auth/google_oauth2', class: 'btn btn-outline-secondary', style: 'width: 100%; max-width: 300px;' %>
                <%= link_to '<i class="fa-brands fa-twitter"></i> Xでログイン'.html_safe, '/auth/twitter', class: 'btn btn-outline-secondary', style: 'width: 100%; max-width: 300px;' %>
                <%= link_to '<i class="fa-brands fa-facebook-f"></i> Facebookでログイン'.html_safe, '/auth/facebook', class: 'btn btn-outline-secondary', style: 'width: 100%; max-width: 300px;' %>
              </div>
      <% end %>

      </div>
    </div>
  </div>
</div>
