<!DOCTYPE html>
<html>
  <head>
    <title>PetNote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="manifest" href="/manifest.json">

    <meta property="og:title" content="ペット手帳">
    <meta property="og:description" content="ペットの情報をメモし、知り合いに簡単に共有できるシンプルなアプリ。">
    <meta property="og:image" content="<%= asset_url('sample(1250×930).png') %>">
    <meta property="og:url" content="https://www.mypetnote-family.com/login">
    <meta property="og:type" content="website">

    <% unless Rails.env.test? %>
    <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
    <script>
      window.OneSignalDeferred = window.OneSignalDeferred || [];
      OneSignalDeferred.push(async function(OneSignal) {
        try {
          await OneSignal.init({
            appId: "<%= @onesignal_app_id %>", // App ID を適切に設定
          });
          console.log("OneSignal initialized successfully.");
        } catch (error) {
          console.error("OneSignal initialization failed:", error);
        }
      });
    </script>
    <% end %>

  </head>

  <body class="py-5" data-controller="<%= controller_path %>" data-action="<%= action_name %>">
    <% unless controller_name == 'user_sessions' && action_name == 'new' %>
      <%= render 'shared/header' %>
    <% end %>

    <%= render 'shared/flash_message' %>

    <%= yield %>

    <% if logged_in? %>
      <%= render 'shared/footer' %>
    <% end %>

  </body>
</html>
